<div *ngIf="isAuth" class="posts-nav">
    <ul class="posts-nav__list">
        <li class="posts-nav__item">
            <a class="posts-nav__link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/posts']" routerLinkActive="posts-nav-active">Posts</a>
        </li>
        <li class="posts-nav__item">
            <a class="posts-nav__link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/posts/feed']" routerLinkActive="posts-nav-active">Feed</a>
        </li>
    </ul>
</div>