<mb-header></mb-header>
<section class="section--full section--grey section--post-big">
  <div class="container container-post-big">
    <article class="post-big">
      <div class="post-big__img"></div>
      <div class="post-big__info">
        <span class="post-big__cat">PHOTOGRAPHY</span>
        <h2 class="post-big_title">Landscapes from a bird's-eye view by Brooke Holm</h2>
        <a href="#" class="read-more">Read more</a>
      </div>
    </article>
  </div>
</section>
<section class="section-white section--last-posts">
  <div class="container container-last-posts">
    <div class="left-side">
      <article class="post-medium">
        <div class="post-medium__img post-medium__img--1"></div>
        <div class="post-medium__info">
          <h2 class="post-medium_title">John Doe captures primordial landscapes</h2>
        </div>
      </article>
      <article class="post-small post-add-margin--160">
        <div class="post-small__img post-small__img--1"></div>
        <div class="post-small__info">
          <h2 class="post-small_title">John Doe captures primordial landscapes</h2>
        </div>
      </article>
      <article class="post-medium">
        <div class="post-medium__img post-medium__img--3"></div>
        <div class="post-medium__info">
          <h2 class="post-medium_title">John Doe captures primordial landscapes</h2>
        </div>
      </article>
      <article class="post-small  post-add-margin--160">
        <div class="post-small__img post-small__img--2"></div>
        <div class="post-small__info">
          <h2 class="post-small_title">John Doe captures primordial landscapes</h2>
        </div>
      </article>
      <article class="post-medium">
        <div class="post-medium__img post-medium__img--2"></div>
        <div class="post-medium__info">
          <h2 class="post-medium_title">John Doe captures primordial landscapes</h2>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="section-white section--all-cat">
  <div class="container container-all-cat">
    <a title="Photography" href="#" class="category-link">Photography <sup class="category__total">350</sup></a>
    <a title="Architecture" href="#" class="category-link">Architecture <sup class="category__total">120</sup></a>
    <a title="Design" href="#" class="category-link">Design <sup class="category__total">84</sup></a>
    <a title="Biographies" href="#" class="category-link">Photography <sup class="category__total">37</sup></a>
  </div>
</section>

<mb-footer></mb-footer>
