<div class=" container-last-posts">
  <mb-post *ngFor="let post of posts; let index" [post]="post" [index]="index"></mb-post>
</div>

<section class="section--full section--grey section--post-big">
  <div class="container container-post-big">
    <article class="post-big">
      <div class="post-big__img"></div>
      <div class="post-big__info">
        <span class="post-big__cat">PHOTOGRAPHY</span>
        <h2 class="post-big_title">Landscapes from a bird's-eye view by Brooke Holm</h2>
        <a href="#" class="read-more">Read more</a>
      </div>
    </article>
  </div>
</section>
<section class="section-white section--all-cat">
  <div class="container container-all-cat">
    <a title="Photography" href="#" class="category-link">Photography <sup class="category__total">350</sup></a>
    <a title="Architecture" href="#" class="category-link">Architecture <sup class="category__total">120</sup></a>
    <a title="Design" href="#" class="category-link">Design <sup class="category__total">84</sup></a>
    <a title="Biographies" href="#" class="category-link">Photography <sup class="category__total">37</sup></a>
  </div>
</section>
