<header class="header">
  <div class="container container__header">
          <div class="header__btn">
                  <span class="header__btn-line"></span>
                  <span class="header__btn-line"></span>
          </div>
              <div class="header__logo">MINIMUM</div>
              <div class="header__search-icon">
                      <svg version="1.1" class="header__search-svg"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve">
                          <g>
                              <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z"></path>
                          </g>
                      </svg>
              </div>
  </div>
  <div class="menu">
      <div class="container container__menu">
              <div class="menu__half">
                      <a href="index.html" class="menu__link" title="Index">Index</a>
                      <a href="#" class="menu__link" title="About">About</a>
                      <a href="#" class="menu__link" title="Random Post">Random Post</a>
                      <a href="#" class="menu__link" title="Contacts">Contacts</a>
                  </div>
          <div class="menu__half">
              <a title="Photography" href="#" class="category-link category-link--bigger">Photography <sup class="category__total">350</sup></a>
              <a title="Architecture" href="#" class="category-link category-link--bigger">Architecture <sup class="category__total">120</sup></a>
              <a title="Design" href="#" class="category-link category-link--bigger">Design <sup class="category__total">84</sup></a>
              <a title="Photography" href="#" class="category-link category-link--bigger">Photography <sup class="category__total">37</sup></a>
              <a title="Travel" href="#" class="category-link category-link--bigger">Travel <sup class="category__total">25</sup></a>
              <a title="Fashion" href="#" class="category-link category-link--bigger">Fashion <sup class="category__total">23</sup></a>
              <a title="Biographies" href="#" class="category-link category-link--bigger">Biographies <sup class="category__total">21</sup></a>
          </div>
      </div>
  </div>
</header>
