<div class="blog-user-header">
  <div class="w-container">
    <div>
      <h1 class="user-page-title">{{pageTitle}}</h1>
    </div>
  </div>
</div>
<div class=" container-last-posts">
  <form [formGroup]="editPostForm" (ngSubmit)="onSubmit(editPostForm)">
    <input type="text" formControlName="title" placeholder="Title">
    <input type="text" formControlName="category" placeholder="Category">
    <angular-editor formControlName="content" [config]="config"></angular-editor>
    <button class="submit" type="submit" [disabled]="!editPostForm.valid">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      {{pageTitle}}</button>
  </form>
</div>
