.container-last-posts{
  min-height: 100vh;
  display: flex;
}

.alert{
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.alert-red{
  background-color: #ffd1d1;
  border: 1px solid #983030;
  color: #983030;
}

.invalid-feedback{
  color: #983030;
  font-size: 12px;
}
