<div class="container-last-posts">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="alert alert-red" *ngIf="showErrorLogin">
      {{error}}
    </div>
    <div class="form-group">
      <label class="label" for="username">Email address:</label>
      <input type="text" formControlName="username" />
      <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Email is required</div>
        <div *ngIf="f.username.errors.email">Email is not in the right format</div>
      </div>
    </div>
    <div class="form-group">
      <label class="label" for="password">Password:</label>
      <input type="password" formControlName="password" />
      <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <button [disabled]="!loginForm.valid">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
  </form>
</div>
