<header class="header-section" id="header">
    <div class="w-container">
        <a class="main-title" href="/">
        Minumum Blog
      </a>
        <p class="main-subheading">I'm a simple blog created using Angualar & Node.js.</p>
        <div class="social-link-group">
        </div>
    </div>
</header>
<div class=" container-last-posts">
    <mb-posts-nav></mb-posts-nav>
    <mb-spinner [showSpinner]="showPostsSpinner">
        <mb-post-preview *ngFor="let post of posts; let index" [post]="post" [index]="index"></mb-post-preview>
        <mb-pagination *ngIf="paginationSettings.totalPages>0" [paginationSettings]="paginationSettings" (changePage)="onChangePage($event)"></mb-pagination>
    </mb-spinner>
</div>


<!--section class="section-white section--all-cat">
  <div class="container container-all-cat">
    <a title="Photography" href="#" class="category-link">Photography <sup class="category__total">350</sup></a>
    <a title="Architecture" href="#" class="category-link">Architecture <sup class="category__total">120</sup></a>
    <a title="Design" href="#" class="category-link">Design <sup class="category__total">84</sup></a>
    <a title="Biographies" href="#" class="category-link">Photography <sup class="category__total">37</sup></a>
  </div>
</section>-->
