<article *ngIf="index%2==0; else postTemplate2" class="post-medium">
  <div class="post-medium__img " [ngStyle]="{'background-image': 'url(' + post.imageUrl + ')'}"></div>
  <div class="post-medium__info">
    <h2 class="post-medium_title">{{post.title}}</h2>
  </div>
</article>
<ng-template #postTemplate2>
  <article class="post-small post-add-margin--160">
    <div class="post-small__img " [ngStyle]="{'background-image': 'url(' + post.imageUrl + ')'}"></div>
    <div class="post-small__info">
      <h2 class="post-small_title">{{post.title}}</h2>
    </div>
  </article>
</ng-template>
