<div class="blog-user-header">
    <div class="w-container">
        <div class="user-info-wrapper">
            <a class="user-info when-link" [routerLink]="['/posts']">←&nbsp;view all posts</a>
        </div>
        <mb-spinner [showSpinner]="showUserSpinner">
            <h1 class="user-page-title">{{user.name}}</h1>
        </mb-spinner>

    </div>
</div>
<div class=" container-last-posts">
  <mb-spinner [showSpinner]="showPostsSpinner">
    <p *ngIf="posts.length==0">No post for the user {{user.name}}</p>
      <mb-post-preview *ngFor="let post of posts; let index" [post]="post" [index]="index"></mb-post-preview>
      <mb-pagination  *ngIf="paginationSettings.totalPages>0" [paginationSettings]="paginationSettings" (changePage)="onChangePage($event)"></mb-pagination>
  </mb-spinner>
</div>
