<footer class="footer">
  <div class="container container-footer">
      <div class="footer__logo">MINIMUM</div>
      <div class="footer__links">
          <a href="#" class="footer__link" title="Instagram">Instagram</a>
          <a href="#" class="footer__link" title="Github">Github</a>
          <a href="#" class="footer__link" title="Facebook">Facebook</a>
          <a href="#" class="footer__link" title="Twitter">Twitter</a>
          <a href="#" class="footer__link" title="Email">Email</a>
      </div>
      <div class="credits">Code by veronicadev</div>
  </div>
</footer>
